@using BlazorStrap.V5
<BSContainer style="height:98%;border:1px solid #00aeff;padding:10px;">
    <BSContainer Class="p-01">
    <BSRow Justify="Justify.Center">
        <BSCol Column="6">
            <h1>ATMS State Machine Experiment</h1>
        </BSCol>
    </BSRow>
    <BSRow>
        <BSCol Column="2">
        Controls:

        </BSCol>
        <BSCol Column="2">
            <BSButton Color="BlazorStrap.BSColor.Primary">Start</BSButton>
        </BSCol>
        <BSCol Column="2">
            <BSButton Color="BlazorStrap.BSColor.Warning">Stop</BSButton>
        </BSCol>
    </BSRow>
    <BSRow>
        State machine Info
    </BSRow>
    <BSRow>
        timer
    </BSRow>
    <BSRow>
        stage 1
    </BSRow>
    <BSRow>
        stage 1 history
    </BSRow>
    <BSRow>
        stage 2
    </BSRow>
    <BSRow>
        stage 2 history
    </BSRow>
    <BSRow>
        stage 3
    </BSRow>
    <BSRow>
        stage 3 history
    </BSRow>

    </BSContainer>
</BSContainer>
